# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives***
- List of popular languages for Data Science
- List of commonly used Libraries used by Data Scientists
- Data Science Tools
- Examples of simple arithmetic expressions in Python
- Author

Some of the popular languages that Data Scientist use are:
1. Python
2. Java
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas

| Data Science Tools |
| ------- |
| Jupyter Notebook |
| Apache Spark |
| RStudio |

### H3 Below are are few examples of evaulating arithmetic expression in Python

In [5]:
#This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## H2 Author
Rhonwen Welcome